<div class="col-sm-6 col-sm-offset-3">
	<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
  	<% end %>
	<h1 class="text-center">Sign In</h1>

	<%= form_for(:session, url: sessions_path) do |f| %>
		<p>
			<%= f.label :email, class: "control-label sr-only" %>
	 		<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
	 	</p>
	 	<p>
	  		<%= f.label :password, class: "control-label sr-only" %>
	  		<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
	  	</p>
	  	<p class="text-center">
			<%= f.submit "Sign in", class: "btn btn-primary" %>
			<%= link_to "Register", register_path, class: "btn btn-default" %>
		</p>
	<% end %>
</div>