<h1>Add Song</h1>

<%= form_for @song do |f| %>
	<% if @song.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@song.errors.count, "error") %> prohibited
	      this song from being added:</h2>
	    <ul>
	    <% @song.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
  	<% end %>	
	<p>
		<%= f.label :spotify_id, class: "control-label sr-only"  %>
	<%= f.text_field :spotify_id, class: 'form-control', placeholder: 'Spotify Track ID or URL' %>
	</p>
	<p>
	<%= f.submit 'Submit', {class: 'btn btn-primary'} %>
	</p>
<% end %>

<h1>Add Playlist</h1>

<form action="/playlist" method="post">
	<p>
		<input type="text" class="form-control" name="playlist" placeholder="Add a Spotify Playlist URL">
	</p>
	<p>
		<input type="submit" class="btn btn-primary" value="Submit">
	</p>
</form>