<h1 class="text-center" style="margin: 20px 0 40px;"><i class="fa fa-music"></i> The Best Song in the World <i class="fa fa-globe"></i></h1>
<div class="row">
	<div class="col-xs-6 text-center">
		<img src="<%= @song1.artwork_url %>" width="300"><br>
		<strong><%= @song1.title %></strong><br>
		<%= @song1.artist %><br>
		<%= @song1.album %><br>
		<audio src="<%= @song1.preview_url %>" controls></audio><br>
		<%= link_to "This Song is Better", new_vote_path(:winner => 0, :song1 => @song1.id, :song2 => @song2.id), class: "btn btn-lg btn-primary" %>
	</div>
	<div class="col-xs-6 text-center">
		<img src="<%= @song2.artwork_url %>" width="300"><br>
		<strong><%= @song2.title %></strong><br>
		<%= @song2.artist %><br>
		<%= @song2.album %><br>
		<audio src="<%= @song2.preview_url %>" controls></audio><br>
		<%= link_to "This Song is Better", new_vote_path(:winner => 1, :song1 => @song1.id, :song2 => @song2.id), class: "btn btn-lg btn-primary" %>
	</div>
</div>
<div class="row text-center" style="margin-top: 90px;">
	<%= link_to "Add a Song", new_song_path, class: 'btn btn-primary' %>
</div>